
//	SITE FOOTER
//----------------------------------------------------------------------

.site-footer {
	background-color: $mid-grey;
	color: #fff;
	flex: none;
	min-height: 300px;
	padding: 70px 0;
	text-align: center;
}