
//	LISTS
//----------------------------------------------------------------------

//	List divider
.list-divider {
	display: flex;
	list-style: none;
	justify-content: center;
	margin-bottom: 1rem;
}
.list-divider__list-item {
	padding: 0 10px;
}
.list-divider__list-item:not(:last-child) {
	border-right: 1px solid #fff;
}
.list-divider__item {
	display: block;
	text-decoration: none;
}
.list-divider--reverse .list-divider__item {
	color: #fff;
}

//	List grid
.list-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin-left: -25px;
}
.list-grid__list-item {
	margin-bottom: 25px;
	padding-left: 25px;
	width: 100%;
}
.list-grid--1-2 .list-grid__list-item {
	@include mq($lap) {
		flex: 0 0 50%;
	}
}
.list-grid--1-3 .list-grid__list-item {
	@include mq($lap) {
		flex: 0 0 33.3333%;
	}
}

//	List buttons
.list-buttons {
	display: flex;
	list-style: none;
	justify-content: center;
	margin-bottom: 1rem;
}
.list-buttons__item {
	@extend %text-hidden;
	background-color: $highlight;
	border-radius: 50%;
	display: block;
	height: 54px;
	width: 54px;
}
.list-buttons__list-item:not(:last-child) {
	margin-right: 12px;
}