
//	TEXT
//----------------------------------------------------------------------

.text-large {
	font-size: 46px;
	font-weight: bold;
	line-height: 52px;
}
.text-medium {
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 22px;
}

.text-content {
	h3 {
		font-size: 18px;
		font-weight: bold;
		line-height: 24px;
	}
	p {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 18px;
	}
}