
//	SITE HEADER
//----------------------------------------------------------------------

.site-navigation-container {
	@include mq($nav - 1, max) {
		background-color: #fff;
		height: 100%;
		right: 0;
		max-width: 320px;
		overflow: auto;
		padding-top: 66px;
		position: fixed;
		top: 0;
		transform: translateX(100%);
		transition: transform 125ms ease-out;
		width: 100%;
		will-change: translateX;
		z-index: 10;
		&[aria-hidden="false"] {
			box-shadow: 0 0 30px 0 rgba($dark-grey, 0.2);
			transform: translateX(0);
		}
		&:focus {
			outline: none;
		}
	}
	@include mq($nav) {
		visibility: visible !important;
	}
	@include mq($nav) {
		align-self: flex-end;
		display: flex;
		flex-direction: row;
		margin-left: auto;
	}
}
.site-navigation {
	height: 100%;
	list-style: none;
	@include mq($nav) {
		display: flex;
	}
	&:focus {
		outline: none;
	}
}
.site-navigation__list-item {
	display: block;
	@include mq($nav) {
		height: 100%;
	}
}
.site-navigation__item {
	color: $dark-grey;
	display: block;
	font-weight: bold;
	height: 100%;
	padding: 10px 30px;
	text-decoration: none;
	@include mq($nav) {
		padding: 0 15px;
		line-height: 66px;
	}
}
.site-navigation__open,
.site-navigation__close {
	@extend %text-hidden;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0;
	right: 0;
	height: 66px;
	width: 66px;
	@include mq($nav) {
		display: none;
	}
	&:focus {
		outline: none;
	}
}
.site-navigation__open {
	background-image: icon-menu();
}
.site-navigation__close {
	background-image: icon-close();
}