
//	CONTAINERS
//----------------------------------------------------------------------

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.site-main {
	flex: 1 0 auto;
	padding-top: 66px;
}

//	Sections
.section {
	background-position: center center;
	background-size: cover;
	min-height: 350px;
	padding: 60px 0;
	&:focus {
		outline: none;
	}
}
.section--large {
	color: #fff;
	height: 710px;
	max-height: 70vh;
	padding-top: 15vh;
}
//	centered
.section--centered {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 30px;
}
.section--centered .text-medium {
	margin-bottom: 0;
}
.section--light {
	background-color: #fff;
}