//----------------------------------------------------------------------
//	GENERIC
//	Document
//----------------------------------------------------------------------

//	Box-sizing
//-----------------------------------

*,
*:after,
*:before {
	box-sizing: border-box;
}




//	Document
//-----------------------------------

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow-y: scroll;
}
body {
	background-color: $lightest-grey;
	color: $dark-grey;
	font-family: $base-font;
	font-size: 100%; /* 16px */
	height: 100%;
	line-height: $doc-line-height; /* 20px */
}




//	Text selection
//-----------------------------------

::selection {
	background-color: rgba(#666, 0.8);
	color: #fff;
	text-shadow: none;
}
