
//	GRID
//----------------------------------------------------------------------

.wrapper {
	height: 100%;
	margin: 0 auto;
	max-width: 950px;
	padding: 0 20px;
	width: 100%;
}
.wrapper--narrow {
	max-width: 625px;
}