//----------------------------------------------------------------------
//	SETTINGS
//	Global
//----------------------------------------------------------------------

//	Typography
//-----------------------------------

//	Type baseline
$doc-font-size: 16; /* 16px */
$doc-line-height: 1.25; /* 20px */

//	Font stacks
$base-font: Raleway, Arial, serif;




//	Animation
//-----------------------------------

//	Transition
$duration: 150ms;
$easing: ease-out;




//	Colors/Themes
//-----------------------------------

$dark-grey: #333;
$mid-grey: #444444;
$light-grey: #999;
$lightest-grey: #efefef;

$highlight: #a16414;
$secondary: #f6e8f9;

//	themes
$blue: #55c8e9;
$turquoise: #7ae7d7;
$purple: #cea4f0;
$grey: #b0a79d;
$pink: #ff96db;
$green: #72e79b;
$green-dark: #26bb4d;
$orange: #e6802e;
$red: #e6322e;



//	Responsive
//-----------------------------------

//	Breakpoints (in px)
$lap: 600;
$nav: 700;
$desk: 900;